<mat-progress-bar *ngIf="isLoader | async" mode="indeterminate"></mat-progress-bar>

<br>
<button type="button" (click)="onDoubleClick()">Click</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" [disabled]="secondBtn" (click)="secondMethod()">Seocnd Click</button>&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <button type="button" (click)="thirdMethod()">Third Click</button> -->

<button (click)="thirdMethod($event)" >Third Click</button>&nbsp;&nbsp;&nbsp;&nbsp;

<button (click)="fourthMethod()" >Fourth Click</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button (click)="test()">TEst</button>

<app-api-get-data></app-api-get-data>                                         